doctype html
html
  head
    meta(charset='utf-8')
    title cumberbatch
    link(href='http://fonts.googleapis.com/css?family=Cutive+Mono', rel='stylesheet', type='text/css')
  body
    script(src='index.js', type='text/javascript')
